/* Empty. Add your own CSS if you like */
.icon.new-item {
	position: absolute;
	right: 20px;
	font-size: 20px;
	bottom: 13px;
}
.cancel-create {
	position: absolute;
	right: 20px;
	font-size: 14px;
	bottom: 13px;
	color:#ef4e3a;
}
[ng-click], [data-ng-click], [x-ng-click] {
    cursor: pointer;
}
/* Ionic Overwrite! */
.item-icon-left .icon, .item-icon-right .icon {
	font-size: 22px;
}